@model DanceCompetitionApplication.Models.ViewModels.UpdatePerformance

@{
    ViewBag.Title = "Edit";
}

<script>
    //client side validation
    function validatePerformanceForm() {
        var validPerformanceData = true;

        var RoutineName = document.getElementById("RoutineName").value;
        var RoutineNameError = document.getElementById("RoutineNameError");

        if (RoutineName === "") {
            RoutineNameError.style.display = "block";
            validPerformanceData = false;
        } else {
            RoutineNameError.style.display = "none";
        }

        var PerformanceTime = document.getElementById("PerformanceTime").value;
        var PerformanceTimeError = document.getElementById("PerformanceTimeError");

        if (PerformanceTime === "") {
            PerformanceTimeError.style.display = "block";
            validPerformanceData = false;
        } else {
            PerformanceTimeError.style.display = "none";
        }

        var Studio = document.getElementById("Studio").value;
        var StudioError = document.getElementById("StudioError");

        if (Studio === "") {
            StudioError.style.display = "block";
            validPerformanceData = false;
        } else {
            StudioError.style.display = "none";
        }

        var CategoryId = document.getElementById("CategoryId").value;
        var CategoryIdError = document.getElementById("CategoryIdError");

        if (CategoryId === "") {
            CategoryIdError.style.display = "block";
            validPerformanceData = false;
        } else {
            CategoryIdError.style.display = "none";
        }

        if (validPerformanceData === false) {
            return false;
        } else {
            return true;
        }
    }
</script>

<a class="backLink" href="/Performance/Details/@Model.SelectedPerformance.PerformanceId">< Back</a>

<h2>Edit Performance</h2>

<form action="/Performance/Update/@Model.SelectedPerformance.PerformanceId" method="POST" onsubmit="return validatePerformanceForm()">
    <!-- hidden input to send PerformanceId as part of POST information -->
    <input type="text" style="display:none;" name="PerformanceId" value="@Model.SelectedPerformance.PerformanceId" />
    <div>
        <p id="RoutineNameError" style="display:none; color:red;">*Please enter a routine name</p>
        <label>Routine Name:</label>
        <input type="text" name="RoutineName" value="@Model.SelectedPerformance.RoutineName" id="RoutineName"/>
    </div>
    <div>
        <p id="PerformanceTimeError" style="display:none; color:red;">*Please enter a performance time</p>
        <label>Performance Time:</label>
        <input type="datetime-local" name="PerformanceTime" value="@Model.SelectedPerformance.PerformanceTime.ToString("yyyy-MM-ddTHH:mm:ss")" id="PerformanceTime"/>
    </div>
    <div>
        <p id="StudioError" style="display:none; color:red;">*Please enter a studio</p>
        <label>Studio:</label>
        <input type="text" name="Studio" value="@Model.SelectedPerformance.Studio" id="Studio"/>
    </div>
    <div>
        <p id="CategoryIdError" style="display:none; color:red;">*Please enter a category id</p>
        <label>Category (Id):</label>
        <!-- <input type="number" name="CategoryId" value="@Model.SelectedPerformance.CategoryId" id="CategoryId"/> -->
        <!-- select category from list of categories in the system -->
        <select name="CategoryId" id="CategoryId">
            @foreach (var category in Model.CategoryOptions)
            {
                <option value="@category.CategoryId" @(Model.SelectedPerformance.CategoryId == category.CategoryId ? "selected" : "")>@category.CategoryName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>
</form>