@model IEnumerable<DanceCompetitionApplication.Models.PerformanceDto>

@{
    ViewBag.Title = "List";
}

<h2>Performances</h2>

<!--search bar-->
<form action="/Performance/List" method="GET">
    <input type="text" name="SearchKey" />
    <input class="searchBtn" type="submit" value="Search" />
</form>

<table>
    <tr>
        <th>Time</th>
        <th>Entry #</th>
        <th>Routine</th>
        <th>Studio</th>
        <th>Category</th>
    </tr>

    @foreach (DanceCompetitionApplication.Models.PerformanceDto Performance in Model)
    {
        <tr onclick="window.location = '/Performance/Details/@Performance.PerformanceId';">
            <td>@Performance.PerformanceTime.ToString("MMMM d, yyyy h:mm tt")</td>
            <td>@Performance.PerformanceId</td>
            <td>@Performance.RoutineName</td>
            <td>@Performance.Studio</td>
            <td>@Performance.CategoryName</td>
        </tr>
    }

</table>

<div class="addBtn" id="addPerformanceBtn">
    <a href="/Performance/New">Add Performance +</a>
</div>